@page "/AsistenciaList";
@using SistemaDeNotas.Data
@using SistemaDeNotas.Data.Model;
@using SistemaDeNotas.Data.Services;
@using SistemaDeNotas.Data.PDF

@inject IAsistenciaService AsistenciaService;
@inject IEstudianteService EstudianteService;
@inject IPeriodoService PeriodoService;
@inject IProfesoresService ProfesoresService;
@inject IMateriaService MateriaService;
@inject IGradoService GradoService;
@inject IAsistenciaPDF AsistenciaPDF;
@inject NavigationManager NavigationManager;
@using Microsoft.AspNetCore.Http


<h1>Notas</h1>
<select class="form-select" aria-label="Default select example">
    @if (listaPeriodo != null)
    {
        @foreach (var periodo in listaPeriodo)
        {
            <option value="@periodo.idPeriodo">@periodo.nombrePeriodo</option>
        }
    }
</select>
<select class="form-select" aria-label="Default select example">
    @if (listaProfesor != null)
    {
        @foreach (var profesores in listaProfesor)
        {
            <option value="@profesores.idProfesor">@(profesores.nombreProfesor + " " + profesores.apellidoProfesor)</option>
        }
    }
</select>
<select class="form-select" aria-label="Default select example" @onchange="ListarMateria">
    @if (listaGrado != null)
    {
        @foreach (var grado in listaGrado)
        {
            <option value="@grado.idGrado">@grado.nombreGrado</option>
        }
    }
</select>
<select class="form-select" aria-label="Default select example">
    @if (listaMateria != null)
    {
        @foreach (var materia in listaMateria)
        {
            <option value="@materia.idMateria">@materia.nombreMateria</option>
        }
    }
    else
    {
        <option value="0">Seleccione Grado</option>

    }
</select>


<td>
    <button class="btn btn-primary" @onclick="GeneraPDF">Imprimir Horario</button>
</td>


@code {


    IEnumerable<Asistencia> listaAsistencia;
    IEnumerable<periodo> listaPeriodo;
    IEnumerable<Profesores> listaProfesor;
    IEnumerable<Materia> listaMateria;
    IEnumerable<Grado> listaGrado;
    public Estudiante alumno;
    public int pdf = 1;

    protected override async Task OnInitializedAsync()
    {

        listaAsistencia = await AsistenciaService.GetAllAsistencia(); ;
        listaPeriodo = await PeriodoService.GetAllPeriodo();
        listaProfesor = await ProfesoresService.GetAllProfesor();
        listaGrado = await GradoService.GetAllGrados();


    }




    void EditarNotas(int id)
    {
        NavigationManager.NavigateTo("/NotasList " + id);
    }



    async Task ListarMateria(ChangeEventArgs args)
    {
        listaMateria = await MateriaService.GetMateriaGrado(Convert.ToInt32(args.Value));
    }

    async Task GeneraPDF()
    {
        if (pdf > 0)
        {

            await AsistenciaPDF.GeneraPdf(listaAsistencia);
        }
    }
}
