@page "/"
@using SistemaDeNotas.Data
@using SistemaDeNotas.Data.Model;
@using SistemaDeNotas.Data.Services;
 

@using Syncfusion.Blazor.Grids

@inject INotasService NotasService;
@inject NavigationManager NavigationManager;
@using Microsoft.AspNetCore.Http


<div class="col-lg-12 control-section">
    <div class="content-wrapper">
        <div class="row">
            <SfGrid DataSource="@notas" AllowPaging="true">
                <GridEditSettings AllowAdding="true" AllowDeleting="true" AllowEditing="true"></GridEditSettings>
                <GridColumns>
                    <GridColumn Field=@nameof(Notas.idNotas) HeaderText="ID nota" IsPrimaryKey="true" ValidationRules="@(new ValidationRules { Required = true, Number = true })" TextAlign="TextAlign.Right" Width="140"></GridColumn>
                    <GridColumn Field=@nameof(Notas.idEstudiante) HeaderText="ID Alumno" ValidationRules="@(new ValidationRules{ Required=true,})" Width="150"></GridColumn>
                    <GridColumn Field=@nameof(Notas.idMateria) HeaderText="Materia" Edit="false" ValidationRules="@(new ValidationRules{ Required=true})" Width="150"></GridColumn>
                    <GridColumn Field=@nameof(Notas.nota1) HeaderText="Nota 1" ValidationRules="@(new ValidationRules{ Required=true, Range = new double[]{1, 5}})" EditType="EditType.NumericEdit" TextAlign="TextAlign.Right" Width="140"></GridColumn>
                    <GridColumn Field=@nameof(Notas.nota2) HeaderText="Nota 2" ValidationRules="@(new ValidationRules{ Required=true, Range = new double[]{1, 5}})" EditType="EditType.NumericEdit" TextAlign="TextAlign.Right" Width="140"></GridColumn>
                    <GridColumn Field=@nameof(Notas.nota3) HeaderText="Nota 3" ValidationRules="@(new ValidationRules{ Required=true, Range = new double[]{1, 5}})" EditType="EditType.NumericEdit" TextAlign="TextAlign.Right" Width="140"></GridColumn>
                    <GridColumn Field=@nameof(Notas.promedioNotas) HeaderText="Promedio"  ValidationRules="@(new ValidationRules{ Required=true})" Width="150"></GridColumn>
                    <GridColumn HeaderText="Manage Records" Width="150">
                        <GridCommandColumns>
                            <GridCommandColumn Type="CommandButtonType.Edit" ButtonOption="@(new CommandButtonOptions() { IconCss = "e-icons e-edit", CssClass = "e-flat" })"></GridCommandColumn>
                            <GridCommandColumn Type="CommandButtonType.Delete" ButtonOption="@(new CommandButtonOptions() { IconCss = "e-icons e-delete", CssClass = "e-flat" })"></GridCommandColumn>
                            <GridCommandColumn Type="CommandButtonType.Save" ButtonOption="@(new CommandButtonOptions() { IconCss = "e-icons e-save", CssClass = "e-flat" })"></GridCommandColumn>
                            <GridCommandColumn Type="CommandButtonType.Cancel" ButtonOption="@(new CommandButtonOptions() { IconCss = "e-icons e-cancel-icon", CssClass = "e-flat" })"></GridCommandColumn>
                        </GridCommandColumns>
                    </GridColumn>
                </GridColumns>
            </SfGrid>
        </div>
    </div>
</div>
@code{
    IEnumerable<Notas> notas;
    protected override async Task OnInitializedAsync()
    {
        notas = await NotasService.GetAllNotas();
    }

}




@*
    <h1>Hello, world!</h1>

        Welcome to your new app.

    <SurveyPrompt Title="How is Blazor working for you?" />
*@