@page "/NotasList";
@using SistemaDeNotas.Data
@using SistemaDeNotas.Data.Model;
@using SistemaDeNotas.Data.Services;

@inject IMatriculaService MatriculaService;
@inject IEstudianteService EstudianteService;
@inject IPeriodoService PeriodoService;
@inject IProfesoresService ProfesoresService;
@inject IMateriaService MateriaService;
@inject IGradoService GradoService;
@inject NavigationManager NavigationManager;
@using Microsoft.AspNetCore.Http


<h1>Periodos</h1>
<select class="form-select" aria-label="Default select example">
    @if (listaPeriodo != null)
    {
        @foreach (var periodo in listaPeriodo)
        {
            <option value="@periodo.idPeriodo">@periodo.nombrePeriodo</option>
        }
    }
</select>
<select class="form-select" aria-label="Default select example">
    @if (listaProfesor != null)
    {
        @foreach (var profesores in listaProfesor)
        {
            <option value="@profesores.idProfesor">@(profesores.nombreProfesor + " " + profesores.apellidoProfesor)</option>
        }
    }
</select>
<select class="form-select" aria-label="Default select example" @onchange="ListarMateria">
    @if (listaGrado != null)
    {
        @foreach (var grado in listaGrado)
        {
            <option value="@grado.idGrado">@grado.nombreGrado</option>
        }
    }
</select>
<select class="form-select" aria-label="Default select example">
    @if (listaMateria != null)
    {
        @foreach (var materia in listaMateria)
        {
            <option value="@materia.idMateria">@materia.nombreMateria</option>
        }
    }
            else
            {
                <option value="0">Seleccione Grado</option>
                
            }
</select>
@*<a class="btn btn-success" href="NotasAdd">Nuevo Notas</a>

    }*@
<table class="table">
    <thead>
        <tr>
            <th>ID</th>

            <th>Estudiante</th>
            <th>Nota 1</th>
            <th>Nota 2</th>
            <th>Nota 3</th>
            <th>Promedio de Notas</th>
            <th></th>

        </tr>
    </thead>
    <tbody>

        @if (notiviris != null)
        {


            @foreach (var nota in notiviris)
            // && estudiantes != null @foreach (var estudiante in estudiantes)
            {
                <tr class="table-warning">
                    @*<td>@estudiante.idEstudiante</td>
                         <td>@estudiante.ApellidosEstudiante</td>
                        <td>@estudiante.NombresEstudiante</td>*@
                    <td>@nota.idEstudiante</td>
                    <td>@(nota.ApellidosEstudiante + " " + nota.NombresEstudiante)</td>
                    <td><input type="text" value="@nota.nota1" size="6" requierd /></td>
                    <td><input type="text" value="@nota.nota2" size="6" required /></td>
                    <td><input type="text" value="@nota.nota3" size="6" required /></td>




                    <td>
                        <button type="button" class="btn btn-default" aria-label="Left Align" title="Edit" @ondblclick="()=> EditarNotas(nota.idMatricula)">
                            <span class="oi oi-pencil" aria-hidden="true"></span>
                        </button>
                        @*<button type="button" class="btn btn-default" aria-label="Left Align" title="Delete" @onclick="()=> DeleteNotas(nota.idNotas)">
                                    <span class="oi oi-trash" aria-hidden="true"></span>
                                </button>



                            <input type="text" name="nota1" value="@nota.nota1" size="6" required />







                            <td>@nota.idNotas</td>
                            <td>@nota.nota1</td>
                            <td>@nota.nota2</td>
                            <td>@nota.nota3</td>
                            <td>@nota.promedioNotas</td>
                            <td>@nota.idMateria</td>
                            <td>@nota.idPeriodo</td>*@

                    </td>
                </tr>
            }

        }

    </tbody>
</table>



@code {


    IEnumerable<matricula> notiviris;
    IEnumerable<periodo> listaPeriodo;
    IEnumerable<Profesores> listaProfesor;
    IEnumerable<Materia> listaMateria;
    IEnumerable<Grado> listaGrado;

    protected override async Task OnInitializedAsync()
    {

        notiviris = await MatriculaService.GetAllNotas();
        listaPeriodo = await PeriodoService.GetAllPeriodo();
        listaProfesor = await ProfesoresService.GetAllProfesor();
        listaGrado = await GradoService.GetAllGrados();


    }




    void EditarNotas(int id)
    {
        NavigationManager.NavigateTo("/NotasList " + id);
    }



    async Task ListarMateria(ChangeEventArgs args)
    {
        listaMateria = await MateriaService.GetMateriaGrado(Convert.ToInt32(args.Value));
    }


}



