@page "/NotasList";
@using SistemaDeNotas.Data
@using SistemaDeNotas.Data.Model;
@using SistemaDeNotas.Data.Services;

@inject INotasService NotasService;
@inject NavigationManager NavigationManager;


<h1>Lista de Notass</h1>
<a class="btn btn-success" href="NotasAdd">Nuevo Notas</a>
<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Nombres</th>
            <th>Apellidos</th>
            <th>Direccion</th>
            <th>Telefono</th>
            <th>Correo</th>
            <th>Accion</th>
        </tr>
    </thead>
    <tbody>
        @if (notas != null)
        {
            @foreach (var nota in notas)
            {
                <tr>
                    <td>@nota.idNotas</td>
                    <td>@nota.nota1</td>
                    <td>@nota.nota2</td>
                    <td>@nota.nota3</td>
                    <td>@nota.promedioNotas</td>
                    <td>@nota.idEstudiante</td>
                    <td>@nota.idMateria</td>
                    <td>
                        <button type="button" class="btn btn-default" aria-label="Left Align" title="Edit" @onclick="()=> EditarNotas(nota.idNotas)">
                            <span class="oi oi-pencil" aria-hidden="true"></span>
                        </button>
                        <button type="button" class="btn btn-default" aria-label="Left Align" title="Delete" @onclick="()=> DeleteNotas(nota.idNotas)">
                            <span class="oi oi-trash" aria-hidden="true"></span>
                        </button>
                    </td>
                </tr>
            }


        }

    </tbody>
</table>

@code {


    IEnumerable<Notas> notas;
    protected override async Task OnInitializedAsync()
    {
        notas = await NotasService.GetAllNotas();    
    }


    void EditarNotas(int id)
    {
        NavigationManager.NavigateTo("/NotasEdit/" + id);
    }

    protected async Task DeleteNotas(int id)
    {

        await NotasService.NotasDelete(id);
        NavigationManager.NavigateTo("/");

    }

}

