@page "/NotasList";
@using SistemaDeNotas.Data
@using SistemaDeNotas.Data.Model;
@using SistemaDeNotas.Data.Services;

@inject INotasService NotasService;
@inject IEstudianteService EstudianteService;
@inject NavigationManager NavigationManager;
@using Microsoft.AspNetCore.Http




        <h1>Lista de Notas</h1>

        @*<a class="btn btn-success" href="NotasAdd">Nuevo Notas</a>

             }*@
        <table class="table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Apellido</th>
                    <th>Nombre</th>
                    <th>Nota 1</th>
                    <th>Nota 2</th>
                    <th>Nota 3</th>
                    <th>Promedio de Notas</th>
                    <th></th>

                </tr>
            </thead>
            <tbody>

                @if (notas != null && estudiantes != null)
                {


                    @foreach (var nota in notas)
                       // @foreach (var estudiante in estudiantes)
                        {
                <tr>
                    @*<td>@estudiante.idEstudiante</td>
              <td>@estudiante.ApellidosEstudiante</td>
             <td>@estudiante.NombresEstudiante</td>*@

                    <td>@nota.estudiantito</td>
                    <td>@nota.nota2</td>
                    <td>@nota.nota3</td>
                    <td>@nota.promedioNotas</td>




                    <td>
                        <button type="button" class="btn btn-default" aria-label="Left Align" title="Edit" @ondblclick="()=> EditarNotas(nota.idNotas)">
                            <span class="oi oi-pencil" aria-hidden="true"></span>
                        </button>
                        @*<button type="button" class="btn btn-default" aria-label="Left Align" title="Delete" @onclick="()=> DeleteNotas(nota.idNotas)">
                    <span class="oi oi-trash" aria-hidden="true"></span>
                </button>



            <input type="text" name="nota1" value="@nota.nota1" size="6" required />







            <td>@nota.idNotas</td>
            <td>@nota.nota1</td>
            <td>@nota.nota2</td>
            <td>@nota.nota3</td>
            <td>@nota.promedioNotas</td>
            <td>@nota.idMateria</td>
            <td>@nota.idPeriodo</td>*@

                    </td>
                </tr>
                        }

                }

            </tbody>
        </table>



        @code {


            IEnumerable<Notas> notas;
            IEnumerable<Estudiante> estudiantes;
            protected override async Task OnInitializedAsync()
            {
                notas = await NotasService.GetAllNotas();
                estudiantes = await EstudianteService.GetAllEstudiantes();

            }




            void EditarNotas(int id)
            {
                NavigationManager.NavigateTo("/NotasList " + id);
            }

            /* protected async Task DeleteNotas(int id)
             {

                 await NotasService.NotasDelete(id);
                 NavigationManager.NavigateTo("/");

             }*/

        }



